<%= flash[:error] %>

<% if session[:username].present? %>
    Logged in as <%= session[:username] %>, <%= link_to 'logout', logout_path %>
<% else %>
    <%= form_for :user, :url => login_url do |f| %>
        <label for="user_username">Username:</label>
        <%= f.text_field :username, :value => cookies[:username] %>
        <label for="user_password">Password:</label>
        <%= f.password_field :password %>
        <%= f.submit 'Login' %>
    <% end %>
<% end %>